/* Untuk Tablet */
@media screen and (max-width: 1000px) {
  .content2 h1 {
    font-size: 32px;
  }

  .games {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 0;
    padding: 0;
  }

  .heading {
    height: 63rem;
  }

  .promosi {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }
}

/* Untuk Smartphone */
@media all and (max-width: 600px) {
  .navbar ul {
    display: none;
  }

  .logo h1 {
    font-size: 25px;
  }

  .logo span {
    display: inline-block;
    cursor: pointer;
    color: black;
    font-size: 25px;
    float: right;
    padding: 30px;
  }

  .content2 {
    height: 60rem;
  }

  .content2 h1 {
    font-size: 25px;
    text-align: center;
  }

  .content2 p {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .btn-wrapper a {
    width: 70%;
    margin: 10px;
  }

  .btn-wrapper p {
    text-align: center;
  }

  .heading h2,
  h3 {
    font-size: 20px;
  }

  .heading {
    height: 165rem;
  }

  .games {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }

  .game-icon {
    width: 80%;
  }

  .game-icon h4 {
    padding-right: 18px;
  }

  .heading2 h1 {
    padding-right: 10px;
  }

  .promosi {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  footer {
    height: 530px;
  }

  .heading3 h2 {
    text-align: center;
  }

  .card {
    margin: 20px;
  }

  .card h3 {
    text-align: center;
  }

  .card span {
    font-size: 20px;
    padding-top: 10px;
    width: 40px;
  }

  .card p {
    text-align: center;
  }

  .card .tlp {
    padding-left: 100px;
    font-size: 24px;
  }

  .kebijakan ul {
    text-align: center;
    padding-left: 120px;
    padding-top: 50px;
    float: left;
    font-size: 12px;
  }

  .kebijakan p {
    text-align: center;
    padding-left: 60px;

    float: left;
    font-size: 15px;
  }
}
