.animasi1 {
    position: relative;
    animation-name: animasi1;
    animation-duration: 5s;
    animation-delay: 2s;
  }

  @keyframes animasi1 {
    from {
      bottom: 100px;
    }
    to {
      bottom: 0px;
    }
  }

  .animasi2 {
    position: relative;
    animation-name: animasi2;
    animation-duration: 5s;
    animation-delay: 2s;
  }

  @keyframes animasi2 {
    from {
      bottom: 100px;
      padding-top: 20px;
    }
    to {
      bottom: 0px;
    }
  }
