/* Untuk Tablet */
@media only screen and (max-width: 1000px) {
  .content2 h1 {
    font-size: 32px;
  }

  .games {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 0;
    padding: 0;
  }

  .heading {
    height: 63rem;
  }

  .promosi {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }
}

/* Untuk Smartphone */
@media only screen and (max-width: 600px) {
  .navbar ul {
    display: none;
    width: 100%;
  }

  .logo h1 {
    font-size: 25px;
    padding-left: 20px;
  }

  @keyframes animasi1 {
    from {
      bottom: 100px;
    }
    to {
      bottom: 0px;
    }
  }

  .animasi1 {
    position: relative;
    animation-name: animasi1;
    animation-duration: 5s;
    animation-delay: 2s;
  }

  @keyframes animasi2 {
    from {
      bottom: 100px;
    }
    to {
      bottom: 0;
    }
  }

  .animasi2 {
    position: relative;
    animation-name: animasi2;
    animation-duration: 5s;
    animation-delay: 2s;
  }

  .logo span {
    display: inline-block;
    cursor: pointer;
    color: black;
    font-size: 25px;
    float: right;
    padding: 30px;
  }

  .content2 {
    height: 60rem;
  }

  .content2 h1 {
    font-size: 25px;
    text-align: center;
  }

  .content2 p {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .btn-wrapper a {
    width: 70%;
    margin: 10px;
  }

  .btn-wrapper p {
    text-align: center;
  }

  .heading h2,
  h3 {
    font-size: 20px;
    text-align: center;
  }

  .heading {
    height: 165rem;
    padding-left: 65px;
  }

  .games {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }

  .game-icon {
    width: 100%;
  }

  .game-icon h4 {
    padding-right: 18px;
  }

  .heading2 h1 {
    padding-right: 10px;
  }

  .promosi {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  footer {
    height: 400px;
  }

  .heading3 h2 {
    text-align: center;
  }

  .card {
    margin-left: 20px;
    margin-top: 15px;
    width: 150px;
  }

  .card h3 {
    text-align: center;
    font-size: 15px;
    padding-right: 10px;
  }

  .card span {
    font-size: 18px;
    padding-top: 17px;
    width: 25px;
    text-align: center;
  }

  .card .tlp {
    font-size: 20px;
    padding: 0 70px;
    padding-top: 16px;
    padding-bottom: 10px;
  }

  .card p {
    text-align: center;
    font-size: 15px;
  }

  .kebijakan ul {
    text-align: center;
    padding-top: 50px;
    width: 100%;
    font-size: 12px;
  }

  .kebijakan p {
    font-size: 15px;
    width: 100%;
    padding-left: 60px;
  }
}
