* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

li {
  list-style: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.logo {
  background-color: #eae8f7;
  width: 100%;
  height: 90px;
  color: black;
  position: fixed;
  z-index: 10;
  box-shadow: 4px 3px 3px grey;
}

.logo h1 {
  float: left;
  padding: 30px;
  cursor: pointer;
  font-size: 30px;
}

.navbar {
  float: right;
  line-height: 90px;
}
.navbar li {
  display: inline-block;
  cursor: pointer;
  padding: 0 25px;
  font-size: 17px;
  transition: all 0.5s;
  float: left;
}

.navbar li:hover {
  background-color: rgba(116, 108, 108, 0.3);
}

/* Content */
.content2 {
  padding: 180px 0 100px 0;
  height: 500px;
  background-image: url("img/game.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  opacity: 0.7;
}

.content2 h1 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 30px;
}

.content2 p {
  font-size: 18px;
}

.btn-wrapper {
  margin: 20px 0;
  text-align: center;
}

.btn-wrapper a {
  text-decoration: none;
}

.btn-wrapper p {
  margin: 10px;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  border-radius: 4px;
  opacity: 0.8;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.gopay {
  background-color: #49f53d;
}

.ovo {
  background-color: #0c49f0;
  margin-left: 40px;
}

.shoppe {
  background-color: #ff8c00;
  margin-left: 60px;
}

.list-game {
  background-color: #dfdaff;
  text-align: center;
  padding-bottom: 80px;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  height: 550px;
}

.heading h2 {
  font-weight: normal;
  color: black;
}

.game-icon {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 250px;
  float: left;
  margin: 5px;
  height: 260px;
  margin-top: 50px;
  margin-right: 35px;
}

.game-icon img {
  width: 100%;
  height: 50%;
  -webkit-transition-duration: 0.5s;
}

.game-icon img:hover {
  -webkit-transform: scale(1.02);
  opacity: 1;
  z-index: 2;
}

.game-icon h4 {
  font-weight: bold;
  color: black;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
}

/* .game-icon h3 {
  font-weight: normal;
  font-size: 15px;
  text-align: left;
  padding-top: 15px;
  padding-left: 20px;
}

.game-icon p {
  color: #5f5d60;
  font-weight: normal;
  text-align: left;
  padding-left: 20px;
} */

.btn-cuan {
  width: 70px;
  height: 30px;
  color: white;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  padding-top: 10px;
}

.btn-cuan:hover {
  opacity: 0.8;
}

.harga {
  background-color: rgb(240, 132, 10);
  float: right;
  margin-top: 30px;
  margin-right: 10px;
}
