* {
  box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

li {
  list-style: none;
}

.clear {
  clear: left;
}
.container {
  width: 100%;
  margin: 0 auto;
}

.animasi1 {
  position: relative;
  animation-name: animasi1;
  animation-duration: 3s;
  animation-delay: 2s;
}

@keyframes animasi1 {
  from {
    right: 0px;
  }
  to {
    right: 100px;
  }
}

.animasi2 {
  position: relative;
  animation-name: animasi2;
  animation-duration: 3s;
  animation-delay: 2s;
}

@keyframes animasi2 {
  from {
    left: 0px;
  }
  to {
    left: 100px;
  }
}

header {
  background-color: #eae8f7;
  width: 100%;
  height: 90px;
  color: black;
  position: fixed;
  z-index: 10;
  box-shadow: 4px 3px 3px grey;
}

.logo h1 {
  float: left;
  padding: 30px;
  cursor: pointer;
  font-size: 30px;
  padding-left: 70px;
}

.logo span {
  display: none;
}

.navbar {
  float: right;
  line-height: 90px;
}
.navbar li {
  display: inline-block;
  cursor: pointer;
  padding: 0 25px;
  font-size: 17px;
  transition: all 0.5s;
  float: left;
}

.navbar li:hover {
  background-color: rgba(116, 108, 108, 0.3);
}

/* Content */
.content2 {
  padding: 180px 0 100px 0;
  height: 700px;
  background-image: url("img/game.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  opacity: 0.7;
  width: 100%;
}

.content2 h1 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 30px;
  padding: 30px;
}

.content2 p {
  font-size: 18px;
}

.btn-wrapper {
  text-align: center;
  padding-top: 30px;
}

.btn-wrapper a {
  text-decoration: none;
}

.btn-wrapper p {
  margin: 10px;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  border-radius: 4px;
  opacity: 0.8;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.gopay {
  background-color: #49f53d;
}

.ovo {
  background-color: #0c49f0;
  margin-left: 40px;
}

.shoppe {
  background-color: #ff8c00;
  margin-left: 60px;
}

.list-game {
  background-color: #dfdaff;
  text-align: center;
  padding-bottom: 80px;
}

.heading {
  padding: 100px;
  padding-top: 80px;
  padding-bottom: 50px;
  height: 700px;
  width: 100%;
}

.heading h2 {
  font-weight: normal;
  color: black;
}

.game-icon {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 250px;
  float: left;
  margin: 5px;
  height: 260px;
  margin-top: 50px;
  margin-left: 15px;
}

.game-icon img {
  width: 100%;
  height: 50%;
  -webkit-transition-duration: 0.5s;
}

.game-icon img:hover {
  -webkit-transform: scale(1.02);
  opacity: 1;
  z-index: 2;
}

.game-icon h4 {
  font-weight: bold;
  color: black;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
}

/* .game-icon h3 {
  font-weight: normal;
  font-size: 15px;
  text-align: left;
  padding-top: 15px;
  padding-left: 20px;
}

.game-icon p {
  color: #5f5d60;
  font-weight: normal;
  text-align: left;
  padding-left: 20px;
} */

.btn-cuan {
  width: 70px;
  height: 35px;
  color: white;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  padding-top: 10px;
}

.btn-cuan:hover {
  opacity: 0.8;
}

.harga {
  background-color: rgb(240, 132, 10);
  float: right;
  margin-top: 30px;
  margin-right: 10px;
}
.heading2 h1 {
  font-size: 20px;
  margin-top: 20px;
  padding-left: 40px;
  font-weight: normal;
  color: black;
}

.heading2 p {
  font-size: 15px;
  margin-top: 10px;
  padding-left: 40px;
  color: grey;
}

.promosi {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  padding: 30px;
  font-weight: normal;
}

.iklan h1 {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 30px;
  font-weight: normal;
  color: black;
}

.iklan p {
  font-size: 15px;
  padding-top: 10px;
  padding-left: 30px;
  color: grey;
}

footer {
  background-color: #eae8f7;
  width: 100%;
  height: 250px;
  color: black;
}

.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 200px;
  margin-left: 40px;
  margin-top: 40px;
  height: 100px;
  float: left;
}

.heading3 h2 {
  font-weight: normal;
  font-size: 25px;
  margin-left: 40px;
  padding-top: 20px;
}

.card h3 {
  font-weight: normal;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
}

.card span {
  font-size: 25px;
  padding-left: 20px;
  padding-top: 10px;
}

.card .wa {
  color: #49f53d;
}

.card .fb {
  color: #0c49f0;
}

.card .ig {
  color: #ff8c00;
}

.card .twt {
  color: aqua;
}

.card .tlp {
  color: pink;
  padding-left: 80px;
  font-size: 30px;
}

.card p {
  font-size: 18px;
  padding-left: 10px;
  text-align: center;
}

.kebijakan ul {
  float: right;
  line-height: 24px;
  padding-right: 10px;
  font-size: 16px;
  color: blue;
}

.kebijakan p {
  float: right;
  padding-right: 50px;
  padding-top: 10px;
  font-size: 16px;
  color: grey;
}
